.header {
  overflow: hidden;
  background-color: #333;
    padding: 20px 10px;
}

.header a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
}

.header a.logo{
  font-size: 25px;
  font-weight: bold;
}

.header a.links{
float: right;
}

.header a.links:hover {
  text-decoration: underline;
}

.header .icon {
  display: none;
}


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
