header img {
    font-size: 80px;
    text-align: left;
}
body {
    margin: 0;
    background-image: url('https://raw.githubusercontent.com/FordLovelace/FordLovelace.github.io/main/PendOrielle.jpg');
    background-size: cover;
    text-align: center;
}