header img {
    height: 80px;
}
body {
    height: 125vh;
    background-image: url('https://raw.githubusercontent.com/FordLovelace/FordLovelace.github.io/main/PendOrielle.jpg');
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
}
main{
    color: white;
}